<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Profile</h1>
    <h1>Edit</h1>
    <h1>First Name: </h1>
    <h1>Last Name: </h1>
    <h1>Language:</h1>
    <h1>Country/Region</h1>
    <h1>Birthday</h1>
    <h1>Address</h1>
    <h1>Add Address</h1>
    <h1>Payment options:</h1>
    <h1>We accept We accept Visa®, PayPal, MasterCard®, EuroCard, Discover®, American Express®, Diner’s Club® and JCB, as well as 
        debit cards or ATM cards issued by one of these major credit card companies. Our servers encrypt all information submitted to them, 
        so you can be confident that your credit card information will be kept safe and secure.
    </h1>
    <h1>Privacy and Security</h1>
    <h1>Learn about our privacy policy</h1>
    <h1>Delete Account</h1>
    <h1>Help and Support</h1>
    <h1>Services to manage subscriptions</h1>
    <h1>Return Policy</h1>
    <h1>FAQ</h1>


</body>
</html>